.main-bio-container {
  display: flex;
  margin-top: 15em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-bio {
  flex: 0 0 80%;
  margin-right: 1.5rem;
  z-index: 1;
}
.main-bio h1 {
  margin-top: 0;
}

.horizontal-links svg {
  width: 16px;
  height: 16px;
}

.horizontal-links svg path {
  fill: white;
}

.main-bio-container svg:hover path {
  fill: #7dffb3;
  
}

.main-bio h1 {
  color: white;
}

#main-bio {
  background-image: url(https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=947&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main-bio {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -999;
}

#main-bio .overlay {
  background: #151828;
  opacity: .60;
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


@media (max-width: 1024px) {
  .main-bio-container {
    flex-wrap: wrap;
    margin-top: 2em;
  }
  .main-bio {
    order: 1;
    flex: 0 0 100%;
    margin-right: 0;
  }
  .main-bio h1 {
    margin-top: 2.5rem;
  }
}

/* horizontal lists of links */
.horizontal-links {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.horizontal-links > li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.horizontal-links > li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 480px) {
  .horizontal-links {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .horizontal-links {
    display: block;
    font-size: 0.8rem;
  }
  .horizontal-links > li {
    margin-right: 0.8rem;
  }
}

/* footer */
@media (max-width: 375px) {
  footer {
    display: block;
  }
}
