#main-bio {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-bio .overlay-home {
  background: #151828;
  opacity: .50;
  z-index: 1;
}

.overlay-home {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100%;
}